[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/curlpp"]
	path = lib/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "lib/rapidxml"]
	path = lib/rapidxml
	url = https://github.com/discord/rapidxml.git
