[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json.git
[submodule "lib/curlpp"]
	path = lib/curlpp
	url = git@github.com:jpbarrette/curlpp.git
[submodule "lib/rapidxml"]
	path = lib/rapidxml
	url = git@github.com:discord/rapidxml.git
